@font-face {
  font-family: "Times New Roman";
  src: url(/font/times\ new\ roman.ttf) format(tiff);
}


.hidden {

  opacity: 0;
  transform: translateX(+100%);
}

#menuknap {
  display: inline-block;
  right: 20px;
  position: fixed;
  font-size: 4rem;
  color: white;
  font-family: monospace;
  font-weight: 600;
  z-index: 2;

}

#menu {
  transition: transform 0.2s;
  transform-origin: top right;
  list-style-type: none;
  z-index: 1;
  position: fixed;
  background-color: #0032ff;
  height: 200%;
  width: 100%;
  left: 0;
  top: -20px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 70px;
  line-height: 100px;



}


#menu a {
  margin-right: 40px;
  text-align: right;
  color: white;
  text-decoration: none;
  font-family: 'Times New Roman', Times, serif;
  font-size: 2rem;
  position: relative;
  

}

#menu a:hover{
  background-color: #E44200;
}


#liste_stil {
  place-content: start;
  grid-column: 2;

}




/********************************************************** COMPUTER VERSION ********************/

@media (min-width: 700px) {


  /*******menu*******/

  #menuknap {
    display: none;
    font-size: 4rem;
    color: white;
    font-family: monospace;


}

#menu.hidden {
    transform: translateX(0);
    opacity: 1;
}

#menu {

    display: none;
}


main {
    margin-top: 40rem;


}

/*******menu*******/

  * {
    box-sizing: border-box;
  }

  a {
    text-decoration: none;
  }

  body {
    isolation: isolate;
    background-color: #0032ff;
    margin-left: 110px;
    margin-right: 110px;
    overflow-x: hidden;
  }

  /***** emre julius bash duraman ******/

  header {
    position: fixed;
    top: 0;
    z-index: 99;
    mix-blend-mode: difference;
  }

  #header_container img {
    width: 8%;
    height: auto;
    mix-blend-mode: difference;
  }

  h1 {
    color: white;
    font-family: "Source sans pro";
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 4vw;
    line-height: 4vw;
    display: inline-block;
  }

  .mellemnavn {
    font-weight: 400;
    font-family: "Source sans pro";
  }

  h2 {
    display: none;
    color: white;
    font-family: "Source sans pro";
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 40px;
    line-height: 45px;
    
  }
  .mellemnavn_mobil {
    display: none;
    font-weight: 400;
    font-family: "Source sans pro";
  }
}
/********************************************************** COMPUTER VERSION SLUT ********************/
/********************************************************** MOBIL VERSION ********************/

@media (max-width: 700px) {
  * {
    box-sizing: border-box;
  }

  body {
    background-color: #0032ff;
    isolation: isolate;
  }

  /***** emre julius bash duraman ******/

  header {
    position: fixed;
    top: 0;
    z-index: 99;
    /*mix-blend-mode: difference;*/
    
  }

  
  #header_container img {
    width: 50px;
    height: auto;
    position: fixed;
    top: 10px;
    z-index: 2;
  }

  h1 {
    display: none;
    color: white;
    font-family: "Source sans pro";
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 4vw;
    line-height: 45px;
  }

  .mellemnavn {
    display: none;
    font-weight: 400;
    font-family: "Source sans pro";
  }

  h2 {
    color: white;
    font-family: "Source sans pro";
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 63px;
    line-height: 45px;
    transform: rotate(90deg);
    position: fixed;
    top: 68px;
    left: -38px;
    z-index: 2;
  }

  .mellemnavn_mobil {
    font-weight: 300;
    font-family: "Source sans pro";
    transform: rotate(-90deg);
  }
}

/********************************************************** MOBIL VERSION SLUT ********************/
