/********************************************************** COMPUTER VERSION ***************/

@media (min-width: 700px) {
  #first_section {
    margin-top: 25vh;
  }

  #profil img {
    height: auto;
    width: 70%;
  }

  #about {
    grid-row: 2;
    grid-column: 1;
    font-size: 4vw;
    margin-top: 2vw;
    text-align: start;
    font-family: "Josefin Sans";
  }

  #portfolio {
    grid-row: 1;
    grid-column: 2;
    font-size: 4vw;
    margin-top: 2vw;
    align-content: space-around;
    display: grid;
    font-family: "Josefin Sans";
  }

  #profil {
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
  }

  #cirkel_stjerne img {
    height: auto;
    width: 40%;
    left: 40vw;
    position: relative;
    top: -5vw;
  }

  /******************************* footer **************************/

  footer {
    color: white;
  }

  #footer_call {
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-size: 3.3vw;
    position: relative;
    left: 40vw;
  }

  .nummer {
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-weight: 1000;
    letter-spacing: 1px;
    font-size: 4.3vw;
  }

  #footer_signatur img {
    width: 33%;
    height: auto;
  }

  #footer_signatur {
    position: relative;
    text-align: center;
    right: 29vw;
    top: 15vw;
  }

  .center {
    color: #e44200;
    font-size: 3.4vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  /**************************** menu **************************/

  a {
    text-decoration: none;
    list-style-type: none;
    color: white;
  }
}

/********************************************************** COMPUTER VERSION SLUT ********************/
/********************************************************** MOBIL VERSION ********************/

@media (max-width: 700px) {
  #first_section {
    margin-top: 25vh;
  }

  #profil img {
    width: 80%;
    left: 5vw;
    position: relative;
  }

  #cirkel_stjerne img {
    height: auto;
    width: 80%;
    left: 14vw;
    position: relative;
    top: 35vw;
  }

  /******************************* cirkler *************************/

  /******************************* footer **************************/

  footer {
    color: white;
    margin-top: 100vw;
    display: grid;
  }

  #footer_call {
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-weight: 100;
    letter-spacing: 1px;
    font-size: 9vw;
    display: inline-block;
    text-align: center;
  }

  .nummer {
    color: white;
    font-family: "Times New Roman", Times, serif;
    font-weight: 1000;
    letter-spacing: 5px;
    font-size: 10vw;
    display: inline-block;
  }

  #footer_signatur img {
    width: 100%;
    height: auto;
  }

  #footer_signatur {
    position: relative;
    text-align: center;
    margin-bottom: 55vw;
  }

  .center {
    color: #e44200;
    font-size: 12vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  /**************************** menu **************************/

  a {
    color: blue;
    text-decoration: none;
    list-style-type: none;
    color: white;
    font-family: "Josefin Sans";
    font-size: 3rem;
  }

  main a {
    display: none;
  }
}

/********************************************************** MOBIL VERSION SLUT ********************/
