/********************************************************** COMPUTER VERSION ***************/

@media (min-width: 700px) {
  body {
    background-color: #0032FF;
    margin-left: 100px;
    margin-right: 100px;
  }

  /***** emre julius bash duraman ******/


  header {
    position: fixed;
    top: 0;
    z-index: 99;
  }

  #header_container img {
    width: 8%;
    height: auto;
  }

  h1 {
    color: white;
    font-family: "Source sans pro";
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 4vw;
    line-height: 4vw;
    display: inline-block;
  }

  .mellemnavn {
    font-weight: 400;
    font-family: "Source sans pro";
  }

  h2 {
    display: none;
    color: white;
    font-family: "Source sans pro";
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 40px;
    line-height: 45px;
  }
  .mellemnavn_mobil {
    display: none;
    font-weight: 400;
    font-family: "Source sans pro";
  }

  #profil_billede img {
    border: 7px solid white;
    width: 20%;
    height: auto;
    position: relative;
    top: 200px;
    left: 150px;
}

/******************************* footer **************************/

footer {    
  color: white;
  margin-top: 100vw;
  display: grid;

}

#footer_call {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  font-size: 2.5rem;
  display: inline-block;


}

#footer_nummer {

  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 1000;
  letter-spacing: 1px;
  font-size: 3.2rem;
  display: inline-block;

}

#footer_signatur img {

  width: 40%;
  height: auto;

}


#footer_signatur p {

  color: #E44200;
}
    
}

/********************************************************** MOBIL VERSION ********************/

@media (max-width: 700px) {
  body {
    background-color: #0032FF;
  }

  /***** emre julius bash duraman ******/

  header {
    position: fixed;
    top: 0;
    z-index: 99;
  }

  #header_container img {
    width: 50px;
    height: auto;
    position: fixed;
    top: 10px;
  }

  h1 {
    display: none;
    color: white;
    font-family: "Source sans pro";
    font-weight: 900;
    letter-spacing: 1px;
    font-size: 4vw;
    line-height: 45px;
  }

  .mellemnavn {
    display: none;
    font-weight: 400;
    font-family: "Source sans pro";
  }

  h2 {
    color: white;
    font-family: "Source sans pro";
    font-weight: 700;
    letter-spacing: 1px;
    font-size: 63px;
    line-height: 45px;
    transform: rotate(90deg);
    position: fixed;
    top: 68px;
    left: -38px;
  }

  .mellemnavn_mobil {
    font-weight: 300;
    font-family: "Source sans pro";
    transform: rotate(-90deg);
  }

  #profil_billede img {
    border: 9px solid white;
    position: relative;
    top: 266px;
    left: 111px;
    width: 40%;
    height: auto;
}
 
/******************************* footer **************************/

footer {    
  color: white;
  margin-top: 100vw;
  display: grid;
}

#footer_call {
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 100;
  font-size: 2.5rem;
  display: inline-block;


}

#footer_nummer {

  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 1000;
  letter-spacing: 1px;
  font-size: 3.2rem;
  display: inline-block;

}

#footer_signatur img {


  width: 40%;
  height: auto;

}

#footer_signatur p {

  color: #E44200;
}

}
