.hidden {

    opacity: 0;
    transform: translateX(+100%);
}

#menuknap {
    display: inline-block;
    right: 20px;
    position: fixed;
    font-size: 4rem;
    color: white;
    font-family: monospace;
    font-weight: 600;
    z-index: 2;

}

#menu {
    transition: transform 0.2s;
    transform-origin: top right;
    list-style-type: none;
    z-index: 1;
    position: fixed;
    background-color: #0032ff;
    height: 200%;
    width: 100%;
    left: 0;
    top: -20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 70px;
    line-height: 100px;



}


#menu a {
    margin-right: 40px;
    text-align: right;
    color: white;
    text-decoration: none;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2rem;
    position: relative;
    

}

#menu a:hover{
    background-color: #E44200;
  }


#liste_stil {
    place-content: start;
    grid-column: 2;

}


@media (min-width: 700px) {



    /*overskrift*/

    #portfolio p{

        color: #E44200;
        font-family: "Source sans pro";
        font-weight: 900;
        letter-spacing: 1px;
        font-size: 13vw;
        text-align: center;

    }

    @keyframes rotate {
        0% {
          transform: rotateY(360deg);
        }
      }
    
      #portfolio {
        animation: 15s rotate infinite;
        animation-timing-function: linear;
        transform-origin: center;
        
      }

    /*******menu*******/

    #menuknap {
        display: none;
        font-size: 4rem;
        color: white;
        font-family: monospace;


    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu {

        display: none;
    }


    main {
        margin-top: 5rem;


    }

    /*******menu*******/

    h3 {

        color: white;
        font-family: "Josefin Sans";
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 100px;
        font-size: 4vw;
        text-align: center;

    }

    .tema {

        font-family: "Times New Roman";
        font-weight: 100;
        letter-spacing: 1px;
        font-size: 4vw;

    }


    .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .section_wrapper img {
        width: 100%;
        height: auto;
        grid-column: 1;
        padding: 2vw;
        mix-blend-mode: color-dodge;

    }

    p {

        grid-column: 2;
        color: white;

    }


    #second_section {

        margin-top: 20rem;
    }
    #first_section {

        margin-top: 20rem;
    }


}



/********* MOBIL VERSION *****************/

@media (max-width: 700px) {

    /*overskrift*/

    #portfolio p{

        color: #E44200;
        font-family: "Source sans pro";
        font-weight: 900;
        letter-spacing: 1px;
        font-size: 13vw;
        text-align: center;

    }

    @keyframes rotate {
        0% {
          transform: rotateY(360deg);
        }
      }
    
      #portfolio {
        animation: 15s rotate infinite;
        animation-timing-function: linear;
        transform-origin: center;
        
      }

    h3 {

        color: white;
        font-family: "Josefin Sans";
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 100px;
        font-size: 4vw;
        text-align: center;

    }

    .tema {

        font-family: "Times New Roman";
        font-weight: 100;
        letter-spacing: 1px;
        font-size: 4vw;

    }

    p {

        grid-column: 2;
        color: white;

    }

    .section_wrapper img {
        width: 100%;
        height: auto;
        grid-column: 1;
        padding: 2vw;
        mix-blend-mode: color-dodge;

    }


}