body {
    overflow-x: hidden;

}

html {
    scroll-behavior: smooth;
    scroll-padding-top: 10vw;
    overflow: auto;
}


.iframe_wrapper {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 56.25%;
    overflow: hidden;
    grid-column: 2 / span 2;
}

iframe {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;

}



.hidden {

    opacity: 0;
    transform: translateX(+100%);
}

#menuknap {
    display: inline-block;
    right: 20px;
    position: fixed;
    font-size: 4rem;
    color: white;
    font-family: "Source Sans Pro";
    font-weight: 600;
    z-index: 2;
    top: -15px;

}



#menu a:hover {
    background-color: #E44200;
}


#liste_stil {
    place-content: start;
    grid-column: 2;

}

.link_site {
    text-align: center;
    padding: 20px;
    padding-bottom: 25vw;


}

.link_site a {

    color: white;
    font-size: clamp(0.5rem, 1.5rem, 3rem);
    font-family: "Inter";
    font-weight: 400;
    text-decoration: none;
    list-style-type: none;

}

.link_site a:hover {
    background-color: #E44200;
}


/***********************************COMPUTER****************/

@media (min-width: 700px) {

    .video_container {

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    /*overskrift*/

    #portfolio p {

        color: #E44200;
        font-family: "Source sans pro";
        font-weight: 900;
        letter-spacing: 1px;
        font-size: 13vw;
        text-align: center;

    }

    @keyframes rotate {
        0% {
            transform: rotateY(360deg);
        }
    }

    #portfolio {
        animation: 15s rotate infinite;
        animation-timing-function: linear;
        transform-origin: center;

    }

    /*******menu*******/

    #menuknap {
        display: none;
        font-size: 4rem;
        color: white;
        font-family: "Source Sans Pro";



    }

    #menu.hidden {
        transform: translateX(0);
        opacity: 1;
    }

    #menu {

        display: none;
    }


    main {
        margin-top: 19rem;


    }



    #menu_computer ul a {

        color: white;
        font-size: clamp(0.5rem, 1.5rem, 3rem);
        font-family: "Inter";
        font-weight: 400;


    }

    #menu_computer ul {
        justify-content: space-between;
        display: flex;
        text-decoration: none;
        list-style-type: none;
        margin-top: 20vw;

    }

    #menu_computer li {

        display: flex;
        text-decoration: none;
        list-style-type: none;
    }

    #menu_computer a:hover {

        background-color: #E44200;
    }


    /*******menu*******/

    h3 {

        color: white;
        font-family: "Josefin Sans";
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 100px;
        font-size: 4vw;
        text-align: center;

    }

    .tema {

        font-family: "Times New Roman";
        font-weight: 100;
        letter-spacing: 1px;
        font-size: 4vw;

    }


    .section_wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;

    }

    .section_wrapper img {
        width: 100%;
        height: auto;
        grid-column: 1;
        padding: 2vw;
        mix-blend-mode: color-dodge;

    }

    p {

        grid-column: 2;
        color: white;
        text-align: justify;
        word-wrap: break-word;
        font-family: "Inter";
        line-height: 26px;


    }


    #second_section {

        margin-top: 20rem;
    }

    #first_section {

        margin-top: 20rem;
    }


    .section_wrapper2 {
        display: grid;
    }

    .section_wrapper2 img {
        height: auto;
        width: 50%;
        align-self: center;
        justify-self: center;
        display: grid;
    }

    .section_wrapper2 p {
        grid-column: 1;
        display: grid;
        text-align: justify;
    }


    .section_wrapper3 {
        display: inline-grid;
        grid-template-columns: 40% 60%;
        display: flex;
    }



    .col_fotos {
        height: auto;
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 2vw;

    }


    #wire_kill img {
        height: auto;
        width: 100%;
        border: 9px solid white;
    }



    .fotos {
        display: inline-grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;


    }

    .fotos img {

        height: auto;
        width: 100%;
    }



    /******************************* footer **************************/

    footer {
        color: white;
        margin-top: -170px;
    }

    #footer_call p {
        color: white;
        font-family: "Times New Roman", Times, serif;
        font-size: 3.3vw;
        position: relative;
        left: 50vw;
        line-height: normal;

    }


    .nummer {
        color: white;
        font-family: "Times New Roman", Times, serif;
        font-weight: 900;
        letter-spacing: 1px;
        font-size: 4.3vw;
    }

    #footer_signatur img {
        width: 33%;
        height: auto;
    }

    #footer_signatur {
        position: relative;
        text-align: center;
        right: 29vw;
        top: 15vw;
    }

    .center {
        color: #e44200;
        font-size: 3.4vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }




}



/********* MOBIL VERSION *****************/

@media (max-width: 700px) {

    #menu_computer {
        display: none;
    }

    /*overskrift*/

    #portfolio p {

        color: #E44200;
        font-family: "Source sans pro";
        font-weight: 900;
        letter-spacing: 1px;
        font-size: 13vw;
        text-align: center;

    }

    @keyframes rotate {
        0% {
            transform: rotateY(360deg);
        }
    }

    #portfolio {
        animation: 15s rotate infinite;
        animation-timing-function: linear;
        transform-origin: center;

    }

    h3 {

        color: white;
        font-family: "Josefin Sans";
        font-weight: 600;
        letter-spacing: 1px;
        line-height: 50px;
        font-size: 4vw;
        text-align: center;

    }

    .tema {

        font-family: "Times New Roman";
        font-weight: 100;
        letter-spacing: 1px;
        font-size: 4vw;

    }

    p {

        text-align: justify;
        color: white;
        margin-left: 2vw;
        margin-right: 2vw;
        font-family: "Inter";
        line-height: 26px;
        word-wrap: break-word;


    }

    .section_wrapper img {
        width: 100%;
        height: auto;
        grid-column: 1;
        padding: 2vw;
        mix-blend-mode: color-dodge;

    }

    .section_wrapper2 img {
        height: auto;
        width: 100%;
    }

    #wire_kill img {
        height: auto;
        width: 100%;
        border: 9px solid white;
    }

    .fotos {
        display: inline-grid;
        grid-template-columns: 1fr;
        gap: 20px;


    }

    .fotos img {
        padding: 2vw;
        height: auto;
        width: 100%;
    }


    /******************************* footer **************************/

    footer {
        color: white;
        margin-top: 100vw;
        display: grid;
        text-align: center;
    }

    #footer_call p {
        color: white;
        font-family: "Times New Roman", Times, serif;
        font-weight: 100;
        letter-spacing: 1px;
        font-size: 9vw;
        display: inline-block;
        text-align: center;
        line-height: normal;

    }

    .nummer {
        color: white;
        font-family: "Times New Roman", Times, serif;
        font-weight: 900;
        letter-spacing: 5px;
        font-size: 10vw;
        display: inline-block;
    }

    #footer_signatur img {
        width: 100%;
        height: auto;
    }

    #footer_signatur {
        position: relative;
        text-align: center;
        margin-bottom: 55vw;
    }


    .center {
        color: #e44200;
        font-size: 12vw;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    .col_fotos {
        height: auto;
        width: 100%;
        padding: 2vw;

    }

}